{% extends "KasiaEpopejaBundle::layout.html.twig" %}

{% block menu %}
	<ul class="list-group">
		<li class="list-group-item"><a href="k1.html">Księga pierwsza</a></li>
		<li class="list-group-item"><a href="k2.html">Księga druga</a></li>
		<li class="list-group-item"><a href="k3.html">Księga trzecia</a></li>
		<li class="list-group-item"><a href="k4.html">Księga czwarta</a></li>
		<li class="list-group-item"><a href="k5.html">Księga piąta</a></li>
		<li class="list-group-item"><a href="k6.html">Księga szósta</a></li>
		<li class="list-group-item"><a href="k7.html">Księga siódma</a></li>
		<li class="list-group-item"><a href="k8.html">Księga ósma</a></li>
		<li class="list-group-item"><a href="k9.html">Księga dziewiąta</a></li>
		<li class="list-group-item"><a href="k10.html">Księga dziesiąta</a></li>
		<li class="list-group-item"><a href="k11.html">Księga jedenasta</a></li>
		<li class="list-group-item"><a href="k12.html">Księga dwunasta</a></li>
	</ul>			
{% endblock %}
